<style>
    .az-form-wrapper {
        background: #fff;
        border: 1px solid #e6e6e6;
        border-top: none;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .az-form-wrapper input {
        border-radius: 0;
    }

    .az-form-wrapper .alert-danger {
        color: red;
        background-color: #fff;
        border: none;
        font-size: 12px;
        margin-bottom: 0;
        padding: 5px;
    }

    .az-form-wrapper button {
        float: right;
        margin: 0;
        width: 100%;
        padding: 8px 10px;
        font-size: 12px;
        border: none;
        text-transform: uppercase;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        background: #407de1;
        color: #fff;
        border-radius: 0;
    }

    .clear {
        float: left;
        width: 100%;
    }
</style>
<div class="container" style="padding:50px 0">
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <form name="myForm" ng-submit="signup.signupUser(signupData)" novalidate class="clear">
                <div class="row">
                    <div class="col-md-12">
                        <div class="az-form-wrapper clear">
                            <div class="form-group clear">
                                <label class="control-label col-md-12">First Name</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="first name" name="fname"
                                        ng-model="signupData.fname" />
                                </div>
                            </div>
                            <div class="form-group clear">
                                <label class="control-label col-md-12">Last Name</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="last name" name="lname"
                                        ng-model="signupData.lname" />
                                </div>
                            </div>
                            <div class="form-group clear">
                                <label class="control-label col-md-12">Username</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="Username" name="username"
                                        ng-model="signupData.username" required />
                                    <span ng-show="myForm.username.$touched && myForm.username.$invalid" class="alert alert-danger">User
                                        name is required.</span>
                                </div>
                                <div class=" show-hide-message" ng-show="signup.success==false">
                                    <div class="alert alert-danger">{{signup.errorMessage}}</div>
                                </div>
                            </div>
                            <div class="form-group clear">
                                <label class="control-label col-md-12">Designation</label>
                                <div class="col-md-12">
                                    <label class="radio-inline">
                                        <input type="radio" name="designation" value="student" ng-model="signupData.designation">Student
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="designation" value="supervisor" ng-model="signupData.designation">Supervisor
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="designation" value="examiner" ng-model="signupData.designation">Examiner
                                    </label>
                                    <span ng-show="myForm.designation.$touched && myForm.designation.$invalid" class="alert alert-danger">Designation
                                        is required.</span>
                                </div>
                            </div>
                            <div class="form-group clear" ng-if="signupData.designation==='student' || signupData.designation==='supervisor'">
                                <label class="control-label col-md-12" ng-if="signupData.designation==='student'">Student
                                    Id</label>
                                <label class="control-label col-md-12" ng-if="signupData.designation==='supervisor'">Allocate
                                    Student</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="student id" name="studentId"
                                        ng-model="signupData.studentId" required />
                                    <span ng-show="myForm.studentId.$touched && myForm.studentId.$invalid" class="alert alert-danger">Student
                                        Id is required.</span>
                                </div>
                            </div>
                            <div class="form-group clear">
                                <label class="control-label col-md-12">Email</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="email" placeholder="Email" name="email" ng-model="signupData.email"
                                        required />
                                    <span ng-show="myForm.email.$touched && myForm.email.$invalid" class="alert alert-danger">Email
                                        is required.</span>
                                </div>
                            </div>
                            <div class="form-group clear">
                                <label class="control-label col-md-12">Password</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="password" placeholder="Password" name="password"
                                        ng-model="signupData.password" required />
                                    <span ng-show="myForm.password.$touched && myForm.password.$invalid" class="alert alert-danger">Password
                                        is required.</span>
                                </div>
                            </div>
                            <div class="form-group clear">
                                <label class="control-label col-md-12">Confirm Password</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="password" placeholder="Confirm Password" name="confirmPassword"
                                        ng-model="signupData.confirmPassword" required />
                                    <span ng-show="myForm.confirmPassword.$touched && myForm.confirmPassword.$invalid"
                                        class="alert alert-danger">Confirm
                                        Password is required.</span>
                                </div>
                            </div>
                            <div class="form-group clear">
                                <div class="col-md-12">
                                    <button type="Submit" class="btn btn-primary" ng-disabled="myForm.$invalid">SignUp
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>