<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref=".form1">INTERNSHIP PROCESS MANAGEMENT SYSTEM</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a><span class="glyphicon glyphicon-user"></span>Logged in as {{user.currentUser.username ||
                        uppercase}}</a></li>
                <li><a ng-click="user.logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="sidebar-nav">
                    <ul class="nav nav-stacked">
                        <!--TODO:Search should be only visible to the examiner-->
                        <div>
                            <input id="searchStudent" type="text" ng-model="searchStudent" class="form-control">
                        </div>
                        <div>
                            <button id="searchStudentbutton" class="btn btn-default">Search Student By Id</button>
                        </div>
                        <hr />
                        <li ng-if="user.currentUser.designation==='student' || user.currentUser.designation==='supervisor'"
                            class="active"><a ui-sref=".form1"><i class="fa fa-home fa-fw"></i>Form I-1</a></li>
                        <li ng-if="user.currentUser.designation==='student' || user.currentUser.designation==='supervisor'"
                            class="active"><a ui-sref=".form3"><i class="fa fa-home fa-fw"></i>Form I-3</a></li>
                        <li ng-if="user.currentUser.designation==='supervisor'" class="active"><a ui-sref=".form5"><i
                                    class="fa fa-home fa-fw"></i>Form I-5</a></li>
                        <li ng-if="user.currentUser.designation==='student' || user.currentUser.designation==='examiner'"
                            class="active"><a ui-sref=".form6"><i class="fa fa-home fa-fw"></i>Form I-6</a></li>
                        <li ng-if="user.currentUser.designation==='examiner'" class="active"><a ui-sref=".form7"><i
                                    class="fa fa-home fa-fw"></i>Form I-7</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ui-view>
                    <img src="assets/img/bannerSliit1.jpg" width="1050" height="450">
                </div>
            </div>
        </div>
    </div>
</div>