<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><span><img src="assets/img/SLIIT_Lgo.png" width="50" height="auto" > INTERNSHIP PROCESS MANAGEMENT SYSTEM </span></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-18 col-sm-9 col-md-6">
            <div class="thumbnail">
                <img src="assets/img/sliit.jpg">
                <div class="caption">
                    <p>
                        <strong> Introduction</strong><br/><br/>
                        Aims of industrial training is to provide the student with an industrial exposure and allow students to interact with technical specialists.
                        <br/>
                    <hr/>
                    <strong>Learning Outcomes</strong><br/><br/>
                    At the end of the module student will be able to:<br/>
                    <li> Sharpen the necessary soft skills to be better prepared at the beginning (to be achieved after the formal induction lectures)</li>
                    <li>   Appreciate the differences between academic and industrial environments</li>
                    <li>   Value the training institutions relevance to the specific specialization in Information Technology used in the organization</li>
                    <li>   Relate the knowledge gained via training to the project which will be assigned and bring it to completion</li>
                    <li>   Adhere to ethics, industrial safety standards and processes</li>
                    <li>   Present the findings in a training report.</li><br/>
                    </p>
                    <hr/>
                    <a href="#" class="btn btn-danger btn-xs" role="button" ui-sref="login">Log into the website</a>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-6">
            <div class="thumbnail" style="background-color: #3e8f3e;color:#f7f7f7">
                <h4 align="center" >SLIIT INTERNSHIP PROCESS </h4>
            </div>
        </div>
            <div class="col-xs-9 col-sm-9 col-md-3" >
                <div class="alert alert-success" >
                    <div class="caption">
                        <strong>Step 1</strong>
                        <h6>Student Registration with a company</h6>
                    </div>
                </div>
                <div class="alert alert-success" >
                    <div class="caption">
                        <strong>Step 2</strong>
                        <h6>Supervisor allocation by the company</h6>
                    </div>
                </div>
                <div class="alert alert-success" >
                    <div class="caption">
                        <strong>Step 3</strong>
                        <h6>Student fills the first part of Form I-1
                        </h6>
                    </div>
                </div>
                <div class="alert alert-success" >
                    <div class="caption">
                        <strong>Step 4</strong>
                        <h6>Company and supervisor fills the next part of Form I-1</h6>
                    </div>
                </div>
                <div class="alert alert-success" >
                    <div class="caption">
                        <strong>Step 5</strong>
                        <h6>Company / Supervisor e-mails the Form I-1 to Ind. Training Mgr</h6>
                    </div>
                </div>
                <div class="alert alert-success" >
                    <div class="caption">
                        <strong>Step 6</strong>
                        <h6>Student tracks and fills the Form I-3 monthly</h6>
                    </div>
                </div>
                <div class="alert alert-success" >
                    <div class="caption">
                        <strong>Step 7</strong>
                        <h6>Supervisor attests the Form I-3 monthly </h6>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-3">
                <div class="alert alert-success" >
                    <div class="caption">
                        <strong>Step 8</strong>
                        <h6>Supervisor provides feedback at the end of 6 months in Form I5</h6>
                    </div>
                </div>
                <div class="alert alert-success" >
                    <div class="caption">
                        <strong>Step 9</strong>
                        <h6>Supervisor e-mails the feedback (Form I-5) to Ind. Training Mgr.</h6>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-3">
                <div class="alert alert-success" >
                    <div class="caption">
                        <strong>Step 10</strong>
                        <h6>Supervisor e-mails the collection of Form I-3 to Ind. Training Mgr.  </h6>
                    </div>
                </div>
                <div class="alert alert-success" >
                    <div class="caption">
                        <strong>Step 11</strong>
                        <h6>Ind. Training Department schedules the viva between examiner and
                            student with a date and time</h6>
                    </div>
                </div>
                <div class="alert alert-success" >
                    <div class="caption">
                        <strong>Step 12</strong>
                        <h6>Students prepares and submit the Form I-6 and attends the viva</h6>
                    </div>
                </div>
                <div class="alert alert-success" >
                    <div class="caption">
                        <strong>Step 13</strong>
                        <h6>Viva is conducted and student gets a grading</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="panel-footer" position= relative; bottom= 0px;>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            Designed & Developed by CodeChefs</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->