<div class="col-md-12 col-sm-12" >
    <div class="col-md-6 col-sm-6">
        <div class=" panel panel-success">
            <div class="panel-heading"><b>To be filled by the student</b></div>
            <div class="panel-body">
                <form id="Formi1_student">
                    <div class="form-group">
                        <label>Student ID No</label>
                        <input id="stdID" type="text" class="form-control" ng-value="form1.studentID" ng-model="form1.studentID">
                    </div>
                    <div class="form-group">
                        <label>Student Name</label>
                        <input id="stdName" type="text" class="form-control" ng-value="form1.studentName" ng-model="form1.studentName">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input id="stdAddress" type="text" class="form-control" ng-value="form1.studentAddress" ng-model="form1.studentAddress">
                    </div>
                    <div class="form-group">
                        <label>Home Phone</label>
                        <input id="stdHomePhone" type="text" class="form-control" ng-value="form1.studentHomePhone" ng-model="form1.studentHomePhone">
                    </div>
                    <div class="form-group">
                        <label>Mobile Phone</label>
                        <input id="stdMobilePhone" type="text" class="form-control" ng-value="form1.studentMobilePhone" ng-model="form1.studentMobilePhone">
                    </div>
                    <div class="form-group">
                        <label>Email Addresses</label>
                        <p>Use comma(,) to seperate multiple email addresses</p>
                        <input id="stdEmails" type="text" class="form-control" ng-value="form1.studentEmails" ng-model="form1.studentEmails">
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                        <label for="semesterSelect">Semester</label>
                        <select id="semesterSelect" class="form-control" ng-model="form1.semester">
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="yearSelect">Year</label>
                            <select id="yearSelect" class="form-control" ng-model="form1.year">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                    <div>...</div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success form-control" ng-model="form1.studentDone" ng-hide="form1.lockForm1studentButton == true" ng-click="form1.studentDone()">Done
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6" >
        <div class=" panel panel-warning">
            <div class="panel-heading"><b>To be filled by supervisor</b></div>
            <div class="panel-body">
                <form id="Formi1_supervisor">
                    <div class="form-group">
                        <label>Employer's Name</label>
                        <input id="empName" type="text" class="form-control" ng-value="form1.empName" ng-model="form1.empName">
                    </div>
                    <div class="form-group">
                        <label>Employer's Address</label>
                        <input id="empAddress" type="text" class="form-control" ng-value="form1.empAddress" ng-model="form1.empAddress">
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Supervisor's Name</label>
                            <input id="supName" type="text" class="form-control" ng-value="form1.supName" ng-model="form1.supName">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Supervisor's Phone</label>
                            <input id="supPhone" type="text" class="form-control" ng-value="form1.supPhone" ng-model="form1.supPhone">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Supervisor's Title</label>
                            <input id="supTitle" type="text" class="form-control" ng-value="form1.supTitle" ng-model="form1.supTitle">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Supervisor's Email</label>
                            <input id="supEmail" type="text" class="form-control" ng-value="form1.supEmail" ng-model="form1.supEmail">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Internship Start Date</label>
                            <input id="intStartDate" type="text" class="form-control" ng-value="form1.intStartDate" ng-model="form1.intStartDate">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Internship End Date</label>
                            <input id="intEndDate" type="text" class="form-control" ng-value="form1.intEndDate" ng-model="form1.intEndDate">
                        </div>
                        <p>(Recommended period is no less than 6 months)</p>
                    </div>
                    <div class="form-group">
                        <label>No. of Hours/Week</label>
                        <input id="numOfHrs" type="text" class="form-control" ng-value="form1.numOfHrs" ng-model="form1.numOfHrs">
                    </div>
                    <div class="form-group">
                        <label>Please list the tasks the students is expected to complete</label>
                        <textarea id="listOfexpectedTasks" class="form-control" ng-value="form1.listOfexpectedTasks" ng-model="form1.listOfexpectedTasks"></textarea>
                    </div>
                    <div class="form-group">
                        <label>List what the student will learn during the internship period </label>
                        <textarea id="listWhatStudentLearn" class="form-control" ng-value="form1.listWhatStudentLearn" ng-model="form1.listWhatStudentLearn"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning form-control" ng-model="form1.supervisorDone" ng-hide="form1.lockForm1supervisorButton == true" ng-click="form1.supervisorDone()">Done
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>