<div class="col-md-12 col-sm-12" >
    <div class="col-md-6 col-sm-6">
        <div class=" panel panel-success">
            <div class="panel-heading"><b>To be filled by the student (Interns Information)</b></div>
            <div class="panel-body">
                <form id="Formi3_student">
                    <div class="form-group">
                        <label>Student ID No</label>
                        <input id="stdID" type="text" class="form-control" ng-value="formi3.studentID" ng-model="formi3.studentID">

                    </div>
                    <div class="form-group">
                        <label>Student Name</label>
                        <input id="stdName" type="text" class="form-control" ng-value="formi3.studentName" ng-model="formi3.studentName">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input id="stdAddress" type="text" class="form-control" ng-value="formi3.studentAddress" ng-model="formi3.studentAddress">
                    </div>
                    <div class="form-group">
                        <label>Contact Number</label>
                        <input id="stdHomePhone" type="text" class="form-control" ng-value="formi3.studentHomePhone" ng-model="formi3.studentHomePhone">
                    </div>
                    <div class="form-group">
                        <label>Email Addresses</label>
                        <p>Use comma(,) to seperate multiple email addresses</p>
                        <input id="stdEmails" type="email" class="form-control" ng-value="formi3.studentEmails" ng-model="formi3.studentEmails">
                    </div>

                    </div>
                    <!--<div class="form-group">-->
                        <!--<button type="submit" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Done-->
                        <!--</button>-->
                    <!--</div>-->
                </form>
            </div>
        </div>
<div class="col-md-6 col-sm-6">
    <div class=" panel panel-warning">
        <div class="panel-heading"><b>To be filled by the student (Internship Information)</b></div>
        <div class="panel-body">
            <form id="Formi3_student2">
                <div class="form-group">
                    <label>Internship Title</label>
                    <input id="inttitle" type="text" class="form-control" ng-value="formi3.inttitle" ng-model="formi3 .inttitle">
                </div>
                <div class="form-group">
                    <label>Specialization</label>
                    <input id="special" type="text" class="form-control" ng-value="formi3.special" ng-model="formi3.special">
                </div>
                <div class="form-group">
                    <label>Internship Period From</label>
                    <input id="periodfr" type="text" class="form-control" ng-value="formi3.periodfr" ng-model="formi3.periodfr">
                </div>
                <div class="form-group">
                    <label>Internship Period To</label>
                    <input id="periodto" type="text" class="form-control" ng-value="formi3.periodto" ng-model="formi3.periodto">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-warning form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Done
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


    <div class="col-md-24 col-sm-24" >
        <div class="col-md-12 col-sm-12">
            <div class=" panel panel-success">

                <div class="panel-body">
                    <form id="Formi3_table">
                        <dev>
                            <style>
                                table {
                                    font-family: arial, sans-serif;
                                    border-collapse: collapse;
                                    width: 95%;
                                    margin-left: 20px;
                                }

                                td, th {
                                    border: 1px solid #dddddd;
                                    text-align: left;
                                    padding: 8px;

                                }
                                .form-control:focus {
                                    border-color: inherit;
                                    -webkit-box-shadow: none;
                                    box-shadow: none;
                                }
                            </style>
                            <table>
                                <tr>
                                    <th colspan="4">Internal Training Information</th>
                                </tr>
                                <tr>
                                    <th>Training Party</th>
                                    <th>Training Description</th>
                                    <th colspan="2">Period</th>
                                </tr>
                                <tr>
                                    <th colspan="2"></th>
                                    <th>From</th>
                                    <th>To</th>
                                </tr>
                                <tr ng-repeat="i in form3.getNumber() track by $index">
                                    <td><input type="text" ng-model="formi3.trainingParty"></td>
                                    <td><input type="text" ng-model="formi3.description"></td>
                                    <td><input type="text" ng-model="formi3.periodFrom"></td>
                                    <td><input type="text" ng-model="formi3.periodTo"></td>
                                </tr>

                            </table>
                        </dev>

                </form>
            </div>
        </div>


            <div class="col-md-24 col-sm-24">
                <div class=" panel panel-warning">
                    <div class="panel-heading"><b>To be Attested by the external supervisor</b></div>
                    <div class="panel-body">

                        <form id="Formi3_student2">
                            <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>External supervisors name</label>
                                <input id="exname" type="text" class="form-control" ng-value="formi3.exname" ng-model="formi3.exname">
                            </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Date</label>
                                <input id="date" type="text" class="form-control" ng-value="formi3.date" ng-model="formi3.daate">
                            </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-warning form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Done
                                </button>
                            </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-24 col-sm-24">
                <div class=" panel panel-success">
                    <div class="panel-heading"><b>To be filled by the Intern</b></div>
                    <div class="panel-heading"><b>(SUMMARY OF THE KEY TASKS COMPLETED)</b></div>
                    <div class="panel-body" style="padding-left: 125px;">
                        <form id="Formi3_student">
                            <div class="col-md-4 col-sm-4" style="margin-right: 20px; width:350px;">
                            <div class="form-group">
                                <label>Month 1</label>
                                <textarea style="height:100px; width:300px;" ng-model="form3.mon1"></textarea>
                                <div class="form-group">
                                    <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                    </button>
                                </div>
                                <!--<input id="mon1" type="text" class="form-control" ng-value="formi3.mon1" ng-model="formi3.mon1">-->
                            </div>
                                <div class="form-group">
                                    <label style="margin-top: 0px;">Month 2</label>
                                    <textarea style="height:100px; width:300px;" ng-model="form3.mon2"></textarea>
                                    <div class="form-group">
                                        <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                        </button>
                                    </div>
                                    <!--<input id="mon2" type="text" class="form-control" ng-value="formi3.mon2" ng-model="formi2.mon1">-->
                                </div>
                                <div class="form-group">
                                    <label>Month 3</label>
                                    <textarea style="height:100px; width:300px;" ng-model="form3.mon3"></textarea>
                                    <div class="form-group">
                                        <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                        </button>
                                    </div>
                                    <!--<input id="mon3" type="text" class="form-control" ng-value="formi3.mon3" ng-model="formi3.mon3">-->
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>Month 4</label>
                                    <textarea style="height:100px; width:300px;" ng-model="form3.mon4"></textarea>
                                    <div class="form-group">
                                        <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                        </button>
                                    </div>
                                    <!--<input id="mon4" type="text" class="form-control" ng-value="formi3.mon4" ng-model="formi3.mon4">-->
                                </div>
                                <div class="form-group">
                                    <label>Month 5</label>
                                    <textarea style="height:100px; width:300px;" ng-model="form3.mon5"></textarea>
                                    <div class="form-group">
                                        <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                        </button>
                                    </div>
                                    <!--<input id="mon2" type="text" class="form-control" ng-value="formi3.mon2" ng-model="formi2.mon1">-->
                                </div>
                                <div class="form-group">
                                    <label>Month 6</label>
                                    <textarea style="height:100px; width:300px;" ng-model="form3.mon6"></textarea>
                                    <div class="form-group">
                                        <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                        </button>
                                    </div>
                                    <!--<input id="mon3" type="text" class="form-control" ng-value="formi3.mon3" ng-model="formi3.mon3">-->
                                </div>
                            </div>


                    </div>
                    <!--<div class="form-group">-->
                        <!--<button type="submit" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Done-->
                        <!--</button>-->
                    <!--</div>-->
                    </form>
                </div>
            </div>

            <div class="col-md-24 col-sm-24">
                <div class=" panel panel-success">
                    <div class="panel-heading"><b>To be filled by the Intern</b></div>
                    <div class="panel-heading"><b>(DETAILS AND NOTES OF WORK CARRIED OUT, PROBLEMS ENCOUNTERED AND HOW SOLVED ETC., SKETCHES AND DIMENSIONS TO BE GIVEN WHEREVER POSSIBLE.)</b></div>
                    <div class="panel-body" style="padding-left: 125px;">
                        <form id="Formi3_student">
                            <div class="col-md-4 col-sm-4" style="margin-right: 20px; width:350px;">
                                <div class="form-group">
                                    <label>Month 1</label>
                                    <textarea style="height:100px; width:300px;" ng-model="form3.mon1"></textarea>
                                    <div class="form-group">
                                        <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                        </button>
                                    </div>
                                    <!--<input id="mon1" type="text" class="form-control" ng-value="formi3.mon1" ng-model="formi3.mon1">-->
                                </div>
                                <div class="form-group">
                                    <label style="margin-top: 0px;">Month 2</label>
                                    <textarea style="height:100px; width:300px;" ng-model="form3.mon2"></textarea>
                                    <div class="form-group">
                                        <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                        </button>
                                    </div>
                                    <!--<input id="mon2" type="text" class="form-control" ng-value="formi3.mon2" ng-model="formi2.mon1">-->
                                </div>
                                <div class="form-group">
                                    <label>Month 3</label>
                                    <textarea style="height:100px; width:300px;" ng-model="form3.mon3"></textarea>
                                    <div class="form-group">
                                        <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                        </button>
                                    </div>
                                    <!--<input id="mon3" type="text" class="form-control" ng-value="formi3.mon3" ng-model="formi3.mon3">-->
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>Month 4</label>
                                    <textarea style="height:100px; width:300px;" ng-model="form3.mon4"></textarea>
                                    <div class="form-group">
                                        <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                        </button>
                                    </div>
                                    <!--<input id="mon4" type="text" class="form-control" ng-value="formi3.mon4" ng-model="formi3.mon4">-->
                                </div>
                                <div class="form-group">
                                    <label>Month 5</label>
                                    <textarea style="height:100px; width:300px;" ng-model="form3.mon5"></textarea>
                                    <div class="form-group">
                                        <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                        </button>
                                    </div>
                                    <!--<input id="mon2" type="text" class="form-control" ng-value="formi3.mon2" ng-model="formi2.mon1">-->
                                </div>
                                <div class="form-group">
                                    <label>Month 6</label>
                                    <textarea style="height:100px; width:300px;" ng-model="form3.mon6"></textarea>
                                    <div class="form-group">
                                        <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                        </button>
                                    </div>
                                    <!--<input id="mon3" type="text" class="form-control" ng-value="formi3.mon3" ng-model="formi3.mon3">-->
                                </div>
                            </div>


                    </div>
                    <!--<div class="form-group">-->
                        <!--<button type="submit" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Done-->
                        <!--</button>-->
                    <!--</div>-->
                    </form>
                </div>
            </div>

            <div class="col-md-24 col-sm-24">
                <div class=" panel panel-success">
                    <div class="panel-heading"><b>To be filled by the External Supervisor where supervisors should review the work once a month</b></div>
                    <div class="panel-heading"><b>(REMARKS AND CERTIFICATION BY THE EXTERNAL SUPERVISOR)</b></div>
                    <div class="panel-body" style="padding-left: 125px;">
                        <form id="Formi3_student">
                            <div class="col-md-4 col-sm-4" style="margin-right: 20px; width:350px;">
                                <div class="form-group">
                                    <label>Month 1</label>
                                    <textarea style="height:100px; width:300px;" ng-model="form3.mon1"></textarea>
                                    <div class="form-group">
                                        <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                        </button>
                                    </div>
                                    <!--<input id="mon1" type="text" class="form-control" ng-value="formi3.mon1" ng-model="formi3.mon1">-->
                                </div>
                                <div class="form-group">
                                    <label style="margin-top: 0px;">Month 2</label>
                                    <textarea style="height:100px; width:300px;" ng-model="form3.mon2"></textarea>
                                    <div class="form-group">
                                        <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                        </button>
                                    </div>
                                    <!--<input id="mon2" type="text" class="form-control" ng-value="formi3.mon2" ng-model="formi2.mon1">-->
                                </div>
                                <div class="form-group">
                                    <label>Month 3</label>
                                    <textarea style="height:100px; width:300px;" ng-model="form3.mon3"></textarea>
                                    <div class="form-group">
                                        <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                        </button>
                                    </div>
                                    <!--<input id="mon3" type="text" class="form-control" ng-value="formi3.mon3" ng-model="formi3.mon3">-->
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>Month 4</label>
                                    <textarea style="height:100px; width:300px;" ng-model="form3.mon4"></textarea>
                                    <div class="form-group">
                                        <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                        </button>
                                    </div>
                                    <!--<input id="mon4" type="text" class="form-control" ng-value="formi3.mon4" ng-model="formi3.mon4">-->
                                </div>
                                <div class="form-group">
                                    <label>Month 5</label>
                                    <textarea style="height:100px; width:300px;" ng-model="form3.mon5"></textarea>
                                    <div class="form-group">
                                        <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                        </button>
                                    </div>
                                    <!--<input id="mon2" type="text" class="form-control" ng-value="formi3.mon2" ng-model="formi2.mon1">-->
                                </div>
                                <div class="form-group">
                                    <label>Month 6</label>
                                    <textarea style="height:100px; width:300px;" ng-model="form3.mon6"></textarea>
                                    <div class="form-group">
                                        <button type="submit" style="width: 300px;" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Update
                                        </button>
                                    </div>
                                    <!--<input id="mon3" type="text" class="form-control" ng-value="formi3.mon3" ng-model="formi3.mon3">-->
                                </div>
                            </div>


                    </div>
                    <!--<div class="form-group">-->
                        <!--<button type="submit" class="btn btn-success form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Done-->
                        <!--</button>-->
                    <!--</div>-->
                    </form>
                </div>
            </div>

            <div class="col-md-24 col-sm-24">
                <div class=" panel panel-warning">
                    <div class="panel-heading"><b>To be Attested by the external supervisor</b></div>
                    <div class="panel-body">

                        <form id="Formi3_student2">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>External supervisors name</label>
                                    <input id="exname" type="text" class="form-control" ng-value="formi3.exname" ng-model="formi3.exname">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input id="date" type="text" class="form-control" ng-value="formi3.date" ng-model="formi3.daate">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-warning form-control" ng-model="formi3.studentDone" ng-click="formi3.studentDone()">Done
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

</div>

